<main>
  {{#bulma-hero isInfo=true isBold=true}}
    {{#bulma-hero-header}}
      <div class="container">
        {{#bulma-nav}}
          {{#bulma-nav-left}}
            <h1 class="title nav-item">GithubFlow</h1>
          {{/bulma-nav-left}}

          {{#bulma-nav-center}}
            {{!}}
          {{/bulma-nav-center}}

          {{#bulma-nav-toggle onmousedown=(action (toggle 'showToggleItems' this))}}
            <span></span>
            <span></span>
            <span></span>
          {{/bulma-nav-toggle}}

          {{#bulma-nav-right isMenu=true}}

          {{/bulma-nav-right}}
        {{/bulma-nav}}
      </div>
    {{/bulma-hero-header}}
  {{/bulma-hero}}

  <section class="section">
    <div class="container">
      {{outlet}}
    </div>
  </section>

  <footer class="footer is-primary">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content">
            <h4>&copy; 2016 Ryan Tablada</h4>
          </div>
        </div>

        <div class="column">
          <div class="content has-text-right">
            <h4>This app is built with <a href="https://emberjs.com">Ember.js</a>, <a href="https://phoenixframework.org">Phoenix</a>, and <a href="https://bulma.io">Bulma</a>.</h4>
          </div>
        </div>
      </div>
    </div>
  </footer>

</main>
